<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>

    <style>
        body {
            font-size: {
                    {
                    fontsize
                }
            }

            px;
        }
    </style>
</head>

<body>
    Welcome {{username}}!
    <br>
    <br>

    <a href="login.html"> Logout</a>

    <div>
        <p>Preferences </p>

        <form action="preferences" method="POST">
            font size: <input type="number" name="fontsize">
            <input type="submit" value="Submit Query">
        </form>
    </div>
</body>

</html>