<!DOCTYPE html>
<html lang="en">

<head>
    <script src="jquery.min.js"> </script>
    <style>
        body{
            background-color:white;
            left:160px;
            margin: 0;
        }

        html, body {
            /*width: 91%;*/
            max-width:100%;
            overflow-x: hidden;
            height: 100%
        }

        .header{
            /*padding: 0px 16px;*/
            background-color: white;
            color: grey;
            display: flex;
            flex-direction: row;
            height: 10%;

            box-shadow: 0 3px 6px rgba(197, 197, 197, 0.25);
        }

        .content {
            z-index:0;

            position: relative;
            top: 60px;
            left: 200px;

            height: 84%;
            width: 78%;
            
            /*border:tomato solid;*/
            padding: 16px;
            overflow: hidden;

            font-family: Roboto;
        }

        .sticky {
            position: fixed;
            top: 0;
            left: 0;
            
            width: 100%;
        }

        .sticky + .content {
            /*padding-top: 102px;*/
        }

        .searchForm{
            position: relative;
            top:10%;
            left: 10%;

            height: 75%;
            width: 50%;
        }

        .searchBar{
            padding-left: 20px;
            top:0;

            height: 100%;
            /*width: 100%*/
            width:90%;   
            
            border: 0px;
            border-radius: 10px;

            background-color: rgb(233, 233, 233);
        }

        .name{
            position: relative;
            top:-10%;
            left: 5%;
            font-family: Roboto;
        }

        .logoutIcon{
            position: relative;
            float: right;
        }

        .logoutLink{
            position: relative;
            top: 30%;
            left:90%;
            
        }

        .sidenav{
            height: 100%;
            width: 200px;
            position: fixed;
            -webkit-position: sticky;

            z-index: 0;
            top: 55px;
            left: 0;

            background-color: white;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .selection  {
            padding: 8px 8px 8px 30px;

            text-decoration: none;
            font-size: 12pt;
            font-family: Roboto;
            color: #818181;
            display: block;
        }

        .selection:hover {
            background-color: #ffd0004d;
            border: 0px;
            border-radius: 0 25px 25px 0;
        }

        .labels{
            padding: 20px 8px 8px 15px;

            text-decoration: none;
            font-size: 10pt;
            font-family: Roboto;
            color: #818181;
            display: block;

            border-top: .75px solid #818181;
        }

        .createpostForm{
            position: relative;
            top: 2%;
            left: 28%;

            height: 9%;
            width: 600px;

            display: flex;
            flex-direction: row;
        }

        #createpostTitle{
            position: relative;
            left: 0px;

            height: 100%;
            width: 100%;

            padding-left: 20px;

            border: 0px;
            border-radius: 10px;
            box-shadow: 0 0 8px rgba(32, 32, 32, 0.25);
        }

        .createpostButton{
            position: relative;
            top: 25%;
            left: -13%;
            background: transparent;
            border: rgb(255,202,0, .60) solid;
            border-radius: 5px;
            font-family: Roboto, sans-serif;
            max-font-size: 10pt;
            color:rgb(255,202,0);
            font-weight:500;
            height: 30px;
        }

        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            /*background-color: rgba(248, 252, 230, 0.315);*/
            z-index: 2;
            cursor: pointer;
        }

        #background{
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(248, 252, 230, 0.315);
            z-index: 2;
            cursor: pointer;
        }

        #newpost{
            z-index: 3;
            position: relative;
            width: 25%;
            height: 60%;

            margin: auto;
            top: 15%;
            background-color: rgb(255, 245, 145);

            border-radius: 5px;

        }

        input:focus{
            outline:none;
        }
        textarea:focus{
            outline:none;
        }

        .post_title_container{

            /*top: 3%;
            left: 5%;*/

            /*background-color: red;*/
            background-color: rgba(255, 255, 255, 0);


        }

        .post_title{
            background-color: rgba(255, 255, 255, 0);
            border: 0px;
            font-family: Roboto, sans-serif;
            font-size: 14pt;
            font-weight:500;
            padding: 10px 0 20px 15px;
            width: 87%;
            position: relative;
        }

        #noteform{
            height: 100%;
        }

        .post_content{
            position: relative;
            top: 0;
            left: 5%;

            width: 88%;
            height: 70%;

            background-color: rgba(255, 255, 255, 0);
            border: 0;
            font-family: Roboto, sans-serif;
            font-size: 10pt;
        }

        .post_container{
            height: 100%;
        }

        #savebutton{
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            background: transparent;
            border: rgba(0, 0, 0, 0.6) solid;
            border-radius: 5px;
            font-family: Roboto, sans-serif;
            max-font-size: 10pt;
            color: rgb(0, 0, 0);
            font-weight:500;
            height: 30px;
        }


        .noteDiv{
            position: relative;
            top: 10%;
            left: 5%;

            height: 45%;
            width: 30%;

            background-color:rgb(255, 226, 61);
            padding: 5px 20px 5px 20px;

            border-radius: 15px;
        }

        .noteTitle{
            font-size: 12pt;
            font-weight: 500;
        }

        .noteContent{
            height: 67%;
            width: 100%;

            font-size: 10pt;
            /*overflow: hidden;
            text-overflow: ellipsis;*/

            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /*.noteContent:after{
            content: '...';
            position: absolute;
        }*/

        /*.overflow {
            --max-lines: 3;
            position: relative;
            max-height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
            padding-right: 1rem;
        }

        .overflow::before {
            position: absolute;
            content: "...";
            bottom: 0;
            right: 50px;
        }

        .overflow::after {
            content: "";
            position: absolute;
            right: 0;
            width: 1rem;
            height: 1rem;
            background: white;
        }*/

    </style>
</head>

<body>
    <!--Side Navigation-->
    <div class="sidenav">
        <div class="selection">Notes</div>
        <div class="selection">Checklists</div> <br>
        <div class="labels">LABELS</div>
    </div>

    <!--Header-->
    <div class="header sticky" id="HeaderDiv">
        <a class="logoutLink" href="login.html"> Logout</a>
        <h2 class="name">CheckNotes</h2>
        
        <form class="searchForm">
            <input class="searchBar" type="text" placeholder="Search">
        </form>
        
        <!--<img class="logoutIcon" src="Checkbox Icon.svg">-->
    </div>

    <!--Page Content-->
    <div class="content">
        <!--Welcome {{username}}!
        <br>
        <br>

        <div>
            <p>Preferences </p>

            <form action="preferences" method="POST">
                font size: <input type="number" name="fontsize">
                <input type="submit" value="Submit Query">
            </form>
        </div>-->

        <form class="createpostForm" method="post" action="create_post">
            <input id="createpostTitle" type="text" placeholder="Create a note or checklist...">
            <input class="createpostButton" type="button" value="CREATE" >
        </form>

        <div class="noteDiv">
            <p class="noteTitle">Restaurants to Try</p>
            <p class="noteContent overflow">Oficina do Duque<br>Calcada do Duque 43 A 1200-155, Lisbon 1200-155, Portugal<br>
                                    PP-PPP Mediterranean, European, Portuguese<br>4.5<br>3 min Walk<br><br>Boa-Bao<br>
                                    Largo Raphael Bordalo Pinheiro Chiado, Lisbon 1200-369, Portugal<br>
                                    PP-PPP Asian Thai, Vietnames<br>4.5<br>3 min Walk</p>
        </div>

        <div class="checklistDiv">

        </div>
    </div>

    <!--Overlay-->
    <div id="overlay">
        <div id="background"></div>
        <div id="newpost">
            <form class="postcontentForm">
                <!--<input id="postcontent" type="text" placeholder="Enter something...">-->
            </form>
        </div>
    </div>

    <script>
        window.onscroll = function() {stickyFunction()};

        let header = document.getElementById("HeaderDiv");
        let sticky = header.offsetTop;
        let divItem, divCtnr, content, title, note_form;

        function stickyFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        $(document).ready(function(){
            $(".createpostButton").click(function(){
                show_input();
                on();
            });

            function on() {
                document.getElementById("overlay").style.display = "block";
            }

            $("#background").click(off);
            function off() {
                document.getElementById("overlay").style.display = "none";
            }

            function show_input(){
                $("#newpost").empty();



                content = document.createElement("textarea");
                $(content).attr("placeholder", "Enter something...");
                $(content).val($("#createpostTitle").val());
                content.textContent=$("#createpostTitle").val();
                content.className = "post_content";
                content.name = "note_content";


                /*spanItem = document.createElement("span");
                $(spanItem).text($("#createpostTitle").val());
                spanItem.textContent=$("#createpostTitle").val();
                $(spanItem).attr("placeholder", "Title");*/

                title = document.createElement("input");
                title.type = "text";
                $(title).attr("placeholder", "Title");
                title.className = "post_title";
                title.name = "note_title";

                save = document.createElement("input");
                save.type = "submit";
                save.value = "SAVE";
                save.id = "savebutton"

                note_form = document.createElement("form");
                note_form.action = "create_note";
                note_form.method = "POST";
                note_form.id = "noteform";
                note_form.append(title);
                note_form.append(content);
                note_form.append(save);


                $(note_form).hide();
                $("#newpost").append(note_form);
                $(note_form).show();

            }
        });
    </script>
</body>

</html>