<!DOCTYPE html>
<html lang="en">

<head>
    <script src="jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>
    <!--Side Navigation-->
    <div class="sidenav">
        <div class="selection">Notes</div>
        <div class="selection">Checklists</div> <br>
        <div class="labels">LABELS</div>
    </div>

    <!--Header-->
    <div class="header sticky" id="HeaderDiv">
        <a class="logoutLink" href="login.html"> Logout</a>
        <h2 class="name">CheckNotes</h2>
        
        <form class="searchForm">
            <input class="searchBar" type="text" placeholder="Search">
        </form>
        
        <!--<img class="logoutIcon" src="Checkbox Icon.svg">-->
    </div>

    <!--Page Content-->
    <div class="content">
        <!--Welcome {{username}}!
        <br>
        <br>

        <div>
            <p>Preferences </p>

            <form action="preferences" method="POST">
                font size: <input type="number" name="fontsize">
                <input type="submit" value="Submit Query">
            </form>
        </div>-->

        <form class="createpostForm" method="post" action="create_post">
            <input id="postinput" type="text" placeholder="Create a note or checklist...">
            <input class="createpostButton" id="notebutton"type="button" value="NOTE" >
            <input class="createpostButton" id="listbutton" type="button" value="CHECKLIST">
        </form>

        <div class="noteDiv">
            <p class="noteTitle">Restaurants to Try</p>
            <p id="noteContent">Oficina do Duque<br>Calcada do Duque 43 A 1200-155, Lisbon 1200-155, Portugal<br>
                                    PP-PPP Mediterranean, European, Portuguese<br>4.5<br>3 min Walk<br><br>Boa-Bao<br>
                                    Largo Raphael Bordalo Pinheiro Chiado, Lisbon 1200-369, Portugal<br>
                                    PP-PPP Asian Thai, Vietnames<br>4.5<br>3 min Walk</p>

            <input id="editNote" type="button" value="EDIT">
        </div>

        <div class="checklistDiv">
            <p class="checklistTitle">Upcoming Schoolwork</p>
            <form class="checklistContent">
                <label class="checklistItem"><input type="checkbox">HCIFACE DJ4 - August 5</label><br>
                <label class="checklistItem"><input type="checkbox">WEBAPDE Phase 2 - August 6</label><br>
                <label class="checklistItem"><input type="checkbox">INTR-OS miniP2 - August 7</label><br>
                <label class="checklistItem"><input type="checkbox">AUTOMAT Problem Set 4 - August 8</label><br>
                <label class="checklistItem"><input type="checkbox">WEBPAPDE Mini Challenge 5 - August 8</label><br>
                <label class="checklistItem"><input type="checkbox">INTR-OS Exam - August 9</label><br>
                <label class="checklistItem"><input type="checkbox">HCIFACE Exam - August 9</label><br>
                <label class="checklistItem"><input type="checkbox">SOCTEC2 Presentation - August 9</label><br>
            </form>

            <input id="editCheckList" type="button" value="EDIT">
        </div>
    </div>

    <!--Overlay-->
    <div id="overlay">
        <div id="background"></div>
        <div id="newpost">
            <form class="postcontentForm">
                <!--<input id="postcontent" type="text" placeholder="Enter something...">-->
            </form>
        </div>
    </div>

    <div id="overlay_edit">
        <div id="background_edit"></div>
        <div id="editpost">
            <form class="postcontentForm">
            </form>
        </div>
    </div>

    <script src="home.js"></script>
</body>

</html>